.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    transition: margin-left 0.3s;
}
.box {
    width: 80%;
    max-width: 500px;
    height: auto;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    backdrop-filter: blur(15px);
    padding: 20px;
    z-index: 1;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.discord-widget {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    width: 350px;
    height: 500px;
    z-index: 5;
    display: none;
}
.bottom-buttons {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}
@media (min-width: 769px) {
    .discord-widget {
        display: block;
    }
}
